html,body{
    margin:0%;
    height:100%;
    width:100%;
    background-color: #FFFFFF;
}
.header
{
    height:10%;
    width:100%;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding:0%;
    margin:0%;
    border-bottom-style: solid;
}
.searchbar{
    box-sizing: border-box;
    width:70%;
    height:50%;
}
.search{
    box-sizing: border;
    height:50%;
    width:5%
}
.navbar{
    background-color: #D9D9D9;  
    width:10%;
    height:90%;
    border-right-style: solid;
    border-color:#B4B4B4;
    border-width: 1px;
    float:left;
    box-sizing: border-box;
}
.navitem{
    height:10%;
    text-align: center;
    border-bottom-style: solid;
    display:flex;
    align-items:center;
    justify-content: center;
}
.borderstyle
{
    border-color: #B4B4B4;
    border-width:1px;
}
.card-table{
    height:90%;
    background-color: #FFFFFF;
    width:90%;
    float:right;
    overflow-y:auto;
    overflow-x:auto;
    max-width:auto;
}
.tablerow
{
    display: flex;
    flex-direction: row;
    /*height:5%;*/
    border-bottom-style: solid;
}
.tableheader
{
    display:flex;
    /*height:100%;*/
    border-right-style: solid;
    align-items: center;
    justify-content: center;
    text-align:center;
    padding-top:2%;
    padding-bottom:2%
}
.tablecontent
{
    
    /*height:100%;*/
    border-right-style: solid;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow-x:auto;
    text-align:center;
    padding-top:1%;
    padding-bottom:1%;
}
.lookup
{
    border-style:solid;
    margin-left:10%;
    margin-right:10%;
    margin-top:5%;
    margin-bottom:5%;
    width:80%;
    height:80%;
    background-color:#D9D9D9;
}
.lookupimage
{
    display: flex;
    height:100%;
    width:30%;
    float:left;
    vertical-align:auto;
    justify-content: center;
    align-items: center;
}
.databox
{
    width:auto;
    border-left-style:solid;
    height:100%;
    overflow: hidden;
}
.name{
    width:30%;
    min-width: 100px;
}
.atribute{
    width:10%;
    min-width:60px;
}
.level{
    width:5%;
    min-width:60px;
}
.type{
    width:10%;
    min-width:60px;
}
.atk{
    width:10%;
    min-width:60px;
}
.count{
    width:10%;
    min-width:60px;
}
.notes{
    width:20%;
    min-width:60px;
}
.pendulum
{
    width:5%;
    min-width:60px;
}
.lookupcontent
{
    display:flex;
    align-items: center;
    justify-content: center;
    overflow-x:auto;
    text-align:center;
    padding-top:1%;
    padding-bottom:1%;
    box-sizing: border-box;
}
.lookupname
{
    height:10%;
    border-bottom-style: solid;
}
.lookuplevel
{
    width:50%;
    height:10%;
    border-right-style: solid;
    border-bottom-style:solid;
    float:left;
}
.lookupatribute
{
    width:50%;
    height:10%;
    float:right;
    border-bottom-style:solid;
}
.lookupattack
{
    width:33.3%;
    height:10%;
    float:left;
    border-bottom-style:solid;
    border-right-style:solid;
}
.lookuptype
{
    width:33.3%;
    height:10%;
    float:left;
    border-bottom-style:solid;
}
.lookupcombined
{
    height:10%;
    width:100%;
    border-bottom-style: solid;
}
.lookupcombinedpendulum
{
    height:10%;
    width:50%;
    border-bottom-style: solid;
}
.lookupdetails
{
    height:50%;
    width:100%;
}